.banner {
  margin: 158px 14.45%;
}

.banner h1 {
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 54px;
  line-height: 66px;
  color: #f9fbfd;
}

.banner p {
  margin: 12px 0;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #f9fbfd;
}

@media (max-width: $tablet-width-only) {
  .banner {
    margin: 188px 5.86%;
  }

  .banner h1 {
    margin: 0;
    font-size: 50px;
    line-height: 61px;
  }

  .banner p {
    margin: 13px 0;
    font-size: 18px;
    line-height: 22px;
  }
}

@media (max-width: $mobile-width-only) {
  .banner {
    margin: 110px 4.69%;
  }

  .banner h1 {
    margin: 0;
    font-size: 36px;
    line-height: 45px;
  }

  .banner p {
    margin: 11px 0;
    font-size: 16px;
    line-height: 22px;
  }
}
