.description {
  width: 100%;
  background-color: #f9fbfd;
}

.description__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1366px;
  margin: 0 auto;
  padding: 118px 7.54% 116px;
  box-sizing: border-box;
}

.description__text {
  width: 44.7%;
}

.description__text h2 {
  margin: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  color: #011c40;
}

.description__text p {
  margin: 24px 0 4px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #011c40;
}

.description__image {
  padding-top: 2px;
}

@media (max-width: $tablet-width-only) {
  .description__wrapper {
    align-items: flex-start;
    padding: 90px 5.86% 92px;
  }

  .description__text {
    width: 47.8%;
  }

  .description__text h2 {
    margin: 0 0 18px;
    font-size: 26px;
    line-height: 36px;
  }

  .description__text p {
    margin: 0;
  }

  .description__image img {
    padding-top: 8px;
    width: 324px;
    height: auto;
  }
}

@media (max-width: $mobile-width-only) {
  .description__wrapper {
    padding: 57px 4.69% 61px;
  }

  .description__text {
    width: 100%;
    margin: 0 auto;
  }

  .description__image {
    margin: 0 auto;
  }

  .description__text h2 {
    margin: 0 0 16px;
    font-size: 24px;
    line-height: 34px;
  }

  .description__text p {
    margin: 0 0 30px;
  }

  .description__image img {
    padding: 0;
    width: 290px;
  }
}
