.footer {
  flex: 0 0 auto;
  width: 100%;
  background-color: #011c40;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1366px;
  margin: 0 auto;
  padding: 50px 7.54% 46px;
  box-sizing: border-box;
}

.footer__nav-wrapper {
  display: flex;
  align-items: center;
}

.footer__logo {
  display: block;
  margin-right: 40px;
}

.footer__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-width: 117px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__list a {
  &:hover,
  &:focus {
    opacity: 0.8;
    cursor: pointer;
  }

  &:active {
    opacity: 0.5;
  }
}

.footer__list--nav a {
  display: block;
  margin-right: 34px;
  padding: 10px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #f9fbfd;
}

.footer__list--social a {
  margin-left: 33px;
}

.footer__social-item:first-child a {
  margin-left: 0;
}

@media (max-width: $tablet-width-only) {
  .footer__wrapper {
    padding: 42px 5.86% 44px;
  }

  .footer__list--nav a {
    margin-right: 24px;
    padding: 9.5px 0;
    font-size: 12px;
    line-height: 15px;
  }

  .footer__logo {
    margin: 3px 25px 0 0;
  }

  .footer__logo svg {
    width: 38px;
    height: 20px;
  }

  .footer__list--social {
    margin-top: 4px;
    min-width: 87px;
  }

  .footer__list--social a {
    margin-left: 23px;
  }

  .footer__icon-facebook {
    width: 9px;
    height: 16px;
  }

  .footer__icon-instagram {
    width: 16px;
    height: 16px;
  }

  .footer__icon-twitter {
    width: 16px;
    height: 13px;
  }
}

@media (max-width: $mobile-width-only) {
  .footer__wrapper {
    display: block;
    padding: 40px 4.69% 36px;
  }

  .footer__nav-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer__list--nav {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 11px;
  }

  .footer__list--nav a {
    width: 100%;
    margin-right: 0;
    margin-bottom: 5px;
    padding: 6px 0;
  }

  .footer__logo {
    margin: 0 0 18px;
  }

  .footer__logo svg {
    width: 42px;
    height: 22px;
  }

  .footer__list--social a {
    margin-left: 0;
    margin-right: 23px;
  }
}
