.page-wrapper {
  width: 100%;
  min-height: 650px;
  background: #1957b1 url("../img/bg-head-icebergs-desktop@1x.jpg") center no-repeat;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background: #1957b1 url("../img/bg-head-icebergs-desktop@2x.jpg") center no-repeat;
    background-size: cover;
  }
}

@media (max-width: $tablet-width-only) {
  .page-wrapper {
    min-height: 638px;
    background: #1957b1 url("../img/bg-head-icebergs-tablet@1x.jpg") center no-repeat;
    background-size: cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: #1957b1 url("../img/bg-head-icebergs-tablet@2x.jpg") center no-repeat;
      background-size: cover;
    }
  }
}

@media (max-width: $mobile-width-only) {
  .page-wrapper {
    min-height: 500px;
    background: #1957b1 url("../img/bg-head-icebergs-mobile@1x.jpg") center no-repeat;
    background-size: cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: #1957b1 url("../img/bg-head-icebergs-mobile@2x.jpg") center no-repeat;
      background-size: cover;
    }
  }
}
