.topic {
  max-width: 1366px;
  margin: 0 auto;
  padding: 158px 0 266px 198px;
  box-sizing: border-box;
}

.topic h1 {
  margin: 0 0 12px;
  font-style: normal;
  font-weight: bold;
  font-size: 54px;
  line-height: 66px;
  color: #f9fbfd;
}

.topic p {
  margin: 0 0 12px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #f9fbfd;
}

@media (max-width: $tablet-width-only) {
  .topic {
    width: 100%;
    padding: 188px 5.86% 261px;
  }

  .topic h1 {
    margin: 0 0 13px;
    font-size: 50px;
    line-height: 61px;
  }

  .topic p {
    margin: 0 0 13px;
    font-size: 18px;
    line-height: 22px;
  }
}

@media (max-width: $mobile-width-only) {
  .topic {
    padding: 110px 4.69% 168px;
  }

  .topic h1 {
    margin: 0 0 11px;
    font-size: 36px;
    line-height: 45px;
  }

  .topic p {
    margin: 0 0 11px;
    font-size: 16px;
    line-height: 22px;
  }
}
